@font-face {
    font-family: 'Fontaine Capel Neue';
    src: url('fontaine_capel_neue-webfont.eot');
    src: url('fontaine_capel_neue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontaine_capel_neue-webfont.woff') format('woff'),
         url('fontaine_capel_neue-webfont.ttf') format('truetype'),
         url('fontaine_capel_neue-webfont.svg#FontaineCapelNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dewitt JW';
    src: url('dewittjw-webfont.eot');
    src: url('dewittjw-webfont.eot?#iefix') format('embedded-opentype'),
         url('dewittjw-webfont.woff') format('woff'),
         url('dewittjw-webfont.ttf') format('truetype'),
         url('dewittjw-webfont.svg#DewittJWRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}